<div class="fixed z-50 w-full h-16 max-w-lg -translate-x-1/2 rounded-t-lg bottom-0 left-1/2 menu-bar">
  <ul class="grid h-full max-w-lg mx-1 grid-cols-3">
    <li class="inline-flex flex-col items-center justify-center ">
      <button data-dropdown-toggle="dropdownHover"
              data-dropdown-trigger="hover"
              id="user">
        <img [src]="userProfilePhoto" alt="user_logo" class="img-fluid h-12">

      </button>
    </li>
    <li (click)="openUpload()" class="inline-flex flex-col items-center justify-center">
      <button data-tooltip-target="tooltip-new">
        <i class="pi pi-plus-circle" style="font-size: 2rem"></i>
        <span class="sr-only">New item</span>
      </button>
      <div
        class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
        id="tooltip-new"
        role="tooltip">
        Create new item
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
    </li>
    <li class="inline-flex flex-col items-center justify-center ">
      <button data-tooltip-target="tooltip-favorite">
        <i class="pi pi-star" style="font-size: 2rem"></i>
        <span class="sr-only">Settings</span>
      </button>
      <div
        class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
        id="tooltip-favorite"
        role="tooltip">
        Favorite
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
    </li>
  </ul>
</div>

<div class="z-10 hidden bg-background-light divide-y divide-gray-100 rounded-lg shadow w-50 dark:bg-background-dark"
     id="dropdownHover">
  <ul aria-labelledby="user" class="py-2 text-sm text-gray-700 dark:text-gray-200">
    <li (click)="toggleTheme()"
        class="px-4 py-2 hover:bg-background-dark/[.1] dark:hover:bg-background-light/[.1] w-full flex items-center">
      @if (isDarkTheme) {
        <svg class="h-6 w-6 text-text-light dark:text-text-dark" viewBox="0 0 24 24" fill="none" stroke="currentColor"
             stroke-width="2"
             stroke-linecap="round" stroke-linejoin="round">
          <circle cx="12" cy="12" r="5"/>
          <line x1="12" y1="1" x2="12" y2="3"/>
          <line x1="12" y1="21" x2="12" y2="23"/>
          <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"/>
          <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"/>
          <line x1="1" y1="12" x2="3" y2="12"/>
          <line x1="21" y1="12" x2="23" y2="12"/>
          <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"/>
          <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"/>
        </svg>
        <span class="text-2xl ml-2">Light Theme</span>
      } @else {
        <svg class="h-6 w-6 text-text-light dark:text-text-dark" width="24" height="24" viewBox="0 0 24 24"
             stroke-width="2"
             stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z"/>
          <path d="M16.2 4a9.03 9.03 0 1 0 3.9 12a6.5 6.5 0 1 1 -3.9 -12"/>
        </svg>
        <span class="text-2xl ml-2">Dark Theme</span>
      }
    </li>
    <li (click)="logout()"
        class="px-4 py-2 hover:bg-red-500 dark:hover:text-white w-full flex items-center">
      <svg class="h-6 w-6 text-text-light dark:text-text-dark" fill="none" stroke="currentColor" stroke-linecap="round"
           stroke-linejoin="round"
           stroke-width="2" viewBox="0 0 24 24">
        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/>
        <polyline points="16 17 21 12 16 7"/>
        <line x1="21" x2="9" y1="12" y2="12"/>
      </svg>
      <span class="text-2xl ml-2">Log out</span>
    </li>
  </ul>
</div>
