.menu {
  position: relative;
  //width: 100%;
  min-width: min-content;
  width: min-content;
  height: 100vh;
  bottom: 0;
  white-space: nowrap;
  background-color: var(--backgroud-color);
  border: 1px solid var(--splitter);
}

.img-fluid {
  border-radius: 50%;
}

.menu-bar {
  background-color: var(--main-content-background-color);
  border: 2px solid var(--splitter-color);
}

.mobile-text {
  color: var(--text-color);
  font-size: 1rem;
}

li:active {
  background-color: var(--color-text-secondary);
  color: var(--text-color);
  cursor: pointer;
  border-radius: .375rem;
}

li {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}

