<div class="menu">
  <!--  User-->
  <div class="user text-center pt-2">
    <img [src]="userProfilePhoto" alt="user_logo" class="img-fluid">
    <br>
    <span class="text">{{ user.first_name }} {{ user.fast_name }}</span>
  </div>
  <hr>


  <ul class="content container">
    <li class="item">
      <i class="pi pi-folder-open"></i>
      <span>
        File Explorer
      </span>
    </li>
    <li class="item">
      <i class="pi pi-star"></i>
      <span>
        Favorites
      </span>
    </li>
  </ul>


  <ul class="settings container mb-4">
    <hr>
    <li (click)="toggleTheme()" class="item">
      <i [ngClass]="isDarkTheme ? 'pi pi-sun' : 'pi pi-moon'"></i>
      <span>
        @if (isDarkTheme) {
          Light Theme
        } @else {
          Dark Theme
        }
      </span>
    </li>
    <li class="item">
      <i class="pi pi-cog"></i>
      <span>
        Settings
      </span>
    </li>
    <!--<li (click)="logout()" class="item">
      <i class="pi pi-sort-up"></i>
      <span>
        Log out
      </span>
    </li>-->
  </ul>

</div>

