<div>
  @if (authorization) {

    <main>
      <!-- <div class="sidebar">
         <app-side-bar-menu
           [userProfilePhoto]="userProfilePhoto"
           [isMobile]="isMobile"
           [user]="user"
         ></app-side-bar-menu>
       </div>-->

      <p-splitter [panelSizes]="[12, 88]">
        <ng-template pTemplate>
          <app-side-bar-menu
            [userProfilePhoto]="userProfilePhoto"
            [isMobile]="isMobile"
            [user]="user"
            style="width:100%;"
          ></app-side-bar-menu>
        </ng-template>
        <ng-template pTemplate>
          <div class="col flex align-items-center justify-content-center" style="min-width: min-content">Panel 2</div>
        </ng-template>
      </p-splitter>
    </main>

    <!--{{ JSON.stringify(user) }}
    <button (click)="changeTheme()" class="btn" type="button" style="color:var(&#45;&#45;color-primary)">
      change Theme
    </button>

    <img [src]="userProfilePhoto" alt="logo">-->

  } @else {
    <app-authentication [isMobile]="isMobile"></app-authentication>
  }
</div>

