@import "themes";
@import "primeicons/primeicons.css";

body {
  background-color: var(--main-content-background-color) !important;
  background-image: var(--backgroud-image);
  font-family: var(--font-family);
  color: var(--text-color);
}
