@import "themes";


@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-dark-blue/theme.css";
@import "primeng/resources/primeng.css";

/*
:root {
  --text-color: theme('colors.text.light');
  --secondary: theme('colors.secondary.light');
  --backgroud-color: theme('colors.background.light');
  --background-image: theme('backgroundImage.light');
  --splitter: theme('colors.splitter.light');
}

.dark {
  --text-color: theme('colors.text.dark');
  --secondary: theme('colors.secondary.dark');
  --backgroud-color: theme('colors.background.dark');
  --background-image: theme('backgroundImage.dark');
  --splitter: theme('colors.splitter.dark');
}
*/

body {
  color: var(--text-color);
  background-color: var(--backgroud-color);
  background-image: var(--background-image);

  font: 1rem/1.5 "Nunito", sans-serif;


}

